html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    list-style: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

input,
button,
textarea,
select,
address {
    font: inherit;
}

button {
    cursor: pointer;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
    position: relative;
}

body {
    font-size: 18px;
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    color: #000;
    background-color: #E5E5E5;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
}

.slider-wrapper {
    padding: 92px 0;
}


/*Пагинация*/

.image-slider .swiper-pagination {}


/* Буллеты */

.swiper-pagination-bullet {}

.image-slider .swiper-pagination-bullet {
    height: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    background-color: #E5E5E5;
}

.swiper-container {
    margin-top: 69px;
    overflow: hidden;
    text-align: center;
}

.slider-title {
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
}

.swiper-pagination-bullet {
    margin-left: 12px;
    border-radius: 0;
    width: 81px;
    height: 30px;
    text-align: center;
    font-weight: 300;
}


/* .swiper-pagination-bullet {
    font-weight: 800;
    opacity: 1;
    color: #000;
} */

.list li {
    display: flex;
    justify-content: space-between;
}

.list {
    font-weight: 500;
    font-size: 17px;
    line-height: 45px;
}

.swiper-scrollbar-drag {
    top: -3px;
    height: 11px;
    border-radius: 50%;
    background-color: #FFD300;
    box-shadow: 0px 0px 8px 6px rgba(255, 213, 0, 0.644);
}